/*Description: Dice Game CSS
  Author: Linda Scoon
  Date: 22/03/2022
*/

/* whole programme */
body {
  margin: 0;
  padding: 0;
  background-color: gray;
}
h1 {
  text-align: center;
  font-size: 60px;
  margin-bottom: 20px;
}
h3 {
  text-align: center;
}
.wrapper {
  margin: 2%;
  background-color: white;
  padding: 5px 0 50px 0;
}

/* page one */
#rules {
  padding: 0px 50px;
}
#rules p {
  margin-bottom: 10px;
}

.input_box {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 10px;
  padding: 5px 50px;
}
.input_box input {
  width: 250px;
}
.error {
  border: 2px solid red;
}

/* buttons */
#setup_game,
#replay,
.play_btns button {
  padding: 20px 50px;
  margin-top: 30px;
  border-radius: 5px;
  border: none;
  box-shadow: 4px 5px 10px rgb(219, 216, 216);
}
#setup_game:hover,
#replay:hover,
.dice:hover,
.play_btns button:hover {
  box-shadow: none;
}

/* page2 buttons */
.play_btns button {
  width: 200px;
  height: 70px;
  margin: 40px;
  font-weight: 800;
  color: whitesmoke;
  background-color: rgb(72, 222, 241);
}
#replay {
  display: none;
}

/**** page2 ****/
/* overall scores table */
.totals {
  display: flex;
  justify-content: center;
  align-items: center;
}
.totals th {
  padding: 0 20px;
}

/* current score and text message */
.current_score,
.play_btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.current_score h2 {
  font-size: 30px;
  margin: 0px 40px;
}

.msg {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(255, 0, 200);
  font-weight: 800;
}

/* DICE */
#die {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.dice {
  border: 1px solid;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  position: relative;
  display: none;
  background-color: rgb(255, 0, 200);
  border: none;
  box-shadow: 3px 6px 10px rgb(138, 137, 137);
}
.dots {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  position: absolute;
}
.top_right {
  left: 134px;
  top: 20px;
}
.top_left {
  top: 20px;
  left: 20px;
}
.bottom_left {
  top: 130px;
  left: 20px;
}
.bottom_right {
  left: 135px;
  top: 130px;
}
.centre {
  top: 75px;
  left: 80px;
}
.left_centre {
  top: 75px;
  left: 20px;
}
.right_centre {
  top: 75px;
  left: 135px;
}

/* accounting for smaller screens */
@media screen and (max-width: 800px) {
  #die {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .totals {
    margin: 0px 25% 15px;
  }
}
